.md-header {
  background-color: black;
  border-bottom: 1px solid #1a1919;
}
.md-main {
  background-color: black;
}
.md-footer-meta {
  background-color: black;
  border-top: 1px solid #1a1919;
}
.md-nav--primary .md-nav__title {
  background: none;
  box-shadow: none;
}
.md-nav--secondary .md-nav__title {
  background: none;
  box-shadow: none;
}
.md-sidebar {
  border: 1px solid #1a1919;
  height: fit-content;
  border-radius: 16px;
  margin: 1rem;
  padding: .6rem;
}
.md-sidebar {
  scrollbar-color: #1a1919 #0000;
}
.md-sidebar__scrollwrap:focus-within, .md-sidebar__scrollwrap:hover {
  scrollbar-color: #1a1919 #0000;
}
.md-nav__title {
  background: black !important;
  padding: .6rem;
}
.md-header__topic {
  display: none;
}
.md-header__button.md-logo {
  margin: 1rem;
}
.md-typeset {
  font-size: .6rem;
}
.md-typeset h1, .md-typeset h2 {
  color: white;
}
.md-nav__title {
  color: white;
}
.md-sidebar--primary {
  left:0rem;
}
.md-nav--primary .md-nav__item--active > .md-nav__link {
  color: #fff;
}
.md-nav--primary .md-nav__item--active > .md-nav__link:focus, .md-nav--primary .md-nav__item--active > .md-nav__link:hover {
  color: #4b4c4e !important;
}
.md-nav__link[for]:focus, .md-nav__link[for]:hover, .md-nav__link[href]:focus, .md-nav__link[href]:hover {
  color: #4b4c4e;
  cursor: pointer;
}
[data-md-toggle="search"]:checked ~ .md-header .md-search__form {
  background-color: #1d1f21;
}
.md-search-result__meta {
  background-color: black;
  color: white;
}
.md-search-result__list {
  background: black;
}
.md-search-result mark {
  color: #fff;
}
.md-search-result__more > summary > div {
  color: #fff;
}
.md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link--active code {
  color: #fff;
}
@media only screen and (max-width: 1220px) {
  body {
      .md-sidebar {
        border: none;
        border-radius: none;
        margin: 0;
        padding: 0;
        margin-top: 45px;
        height: 100%;
        width: 12rem;
      }
      
}

@media screen and (max-width: 76.2344em) {
  [dir="ltr"] .md-sidebar--primary {
    left: -12rem;
  }
  .md-nav--primary .md-nav__title ~ .md-nav__list {
    background-color: black;
    border-right: 1px solid #1a1919;
  }
  .md-nav--primary .md-nav__title[for="__drawer"] {
    border-top: 1px solid #1a1919;
    border-right: 1px solid #1a1919;
  }
  .md-nav--primary .md-nav__item--active > .md-nav__link {
    color: #fff;
  }
  .md-nav--primary .md-nav__item--active > .md-nav__link:focus, .md-nav--primary .md-nav__item--active > .md-nav__link:hover {
    color: #4b4c4e !important;
  }
  .md-nav__link[for]:focus, .md-nav__link[for]:hover, .md-nav__link[href]:focus, .md-nav__link[href]:hover {
    color: #4b4c4e;
    cursor: pointer;
  }
  

.md-search-result__meta {
  background-color: black;
  color: white;
}
.md-search-result__list {
  background: black;
}
.md-search-result mark {
  color: #fff;
}
.md-search-result__more > summary > div {
  color: #fff;
}
}